%nav.navbar.navbar-toggleable-md.fixed-top.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  = link_to 'WonderPlaces', root_path, class: 'navbar-brand page-scroll'
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.left
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} How it works
      %li.nav-item
        %a.nav-link{:href => "#"} Search
      -if user_signed_in? 
        %li.nav-item 
          =link_to current_user.email.split("@")[0], user_path(current_user), class: 'nav-link'
        %li.nav-item
          = link_to 'Edit profile', edit_user_registration_path, class: 'nav-link'
        %li.nav-item
          = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link'
      -elsif admin_signed_in?
        %li.nav-item.nav-link 
          Logged in as admin
        %li.nav-item
          = link_to 'Workspace',rails_admin.dashboard_path , class: 'nav-link'
        %li.nav-item
          = link_to 'DB',rails_admin.dashboard_path , class: 'nav-link'
        %li.nav-item
          = link_to 'New place', new_place_path , class: 'nav-link'
        %li.nav-item
          = link_to 'New category', new_category_path , class: 'nav-link'
        %li.nav-item
          = link_to "Sign out", destroy_admin_session_path, method: :delete, class: 'nav-link'
      -else
        %li.nav-item
          = link_to "Sign up", new_user_registration_path, class: 'nav-link'
        %li.nav-item
          = link_to "Sign in", new_user_session_path, class: 'nav-link'

